.suggestions .highlight{
  background: yellow;
}
aside{
  background: rgb(241, 241, 239);
  padding: 16px 16px 16px 12px;
  border-radius: 3px;
}
.page{
  padding-right: 200px;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.article-directories{
  right: 0;
  left: auto;
  width: 300px;
  padding:2rem 20px;
}
.article-directories .dir-item{
  color: black;
  font-weight:normal;
  font-size:14px;
  margin-bottom: 10px;
}
.article-directories .dir-item.active {
    font-weight: 600;
    color: #3eaf7c;
    border-left-color: #3eaf7c;
}
.article-directories .dir-item:hover{
  color: #3eaf7c;
}